.DS_STORE
README.md
settings.json
# Auth.js
.vscode/
*dist
docker-compose-dev.yml
frontend/docker-compose.yml
frontend/Dockerfile.dev

# Dependency directories
node_modules/

# Auth info
nyt-aggregator-b84bb62aec66.json
.env
things_to_fix.txt
timed_email_function/test.js
timed_email_function/components/email_html/email-original-working-copy.html
timed_email_function/components/email_html/email-original.html
timed_email_function/components/email_html/topStories_template_v2.html
frontend/package-lock.json
shell scripts/backend-deploy.sh
shell scripts/frontend-deploy.sh
shell scripts/nginx-deploy.sh
.github/workflows/backend-deploy.yml
.github/workflows/nginx-deploy.yml
.github/workflows/frontend-deploy.yml
