.DS_STORE
README.md
settings.json
Auth.js
.vscode/
*dist
docker-compose-dev.yml
frontend/docker-compose.yml
frontend/Dockerfile.dev

# Dependency directories
node_modules/

# Auth info
nyt-aggregator-b84bb62aec66.json
.env