@import url("https://use.typekit.net/ire3pav.css");

@mixin visually-hidden {
  position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
}

@mixin bold-serif {
  font-family: bely-display, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.075rem;
}

@mixin neue-haas-bold {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin neue-haas-display {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

// media queries
@mixin small--600px-and-up {
    @media (min-width: 600px) { @content; }
}

@mixin med--960px-and-up {
  @media (min-width: 960px) { @content; }
}

@mixin lg--1280px-and-up {
  @media (min-width: 1280px) { @content; }
}

@mixin xl--1920px-and-up {
  @media (min-width: 1920px) { @content; }
}