@use "./global_resets.scss";
@use "./modal_subscription_style.scss";
@use "./login_style.scss";
@use "./create_acct_style.scss";
@import "./mixins.scss";

body {
  background-color: #fff;
}

// .test {
//   width:1280px;
//   height:200px;
//   background-color: #000;
// }

#root {
  display: flex;
  flex-direction: column;
}

// **************************************** //
// ************ NavBar / Menu ************* //
// **************************************** //

.navbar-wrapper {
  width: 100%;
  background-color: rgb(44, 44, 44);
  position: fixed;
  height: 45px;
  z-index: 20;
}

.navigation-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-icon-deactive {
  .MuiSvgIcon-root {
    color: rgba(255, 255, 255, 0.1);
  }
}

.home-icon-active {
  .MuiSvgIcon-root {
    color: rgba(255, 255, 255, 0.6);
  }
}

.user-interface-logged-in {
  .MuiIconButton-root {
    color: rgba(216, 255, 109, 0.6);
  }
}

.user-interface-logged-out {
  .MuiIconButton-root {
    color: rgba(255, 255, 255, 0.6);
  }
}

.MuiList-padding {
  padding: 0;
}

.site-title {
  @include bold-serif;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 0.02em;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.sub-title {
  @include neue-haas-display;
  opacity: 0.5;
  font-size: 13px;
  letter-spacing: 0.025em;
}

.navigation {
  float: right;
  position: relative;
}

.menu-wrapper {
  position: relative;
  top: 45px;
}

.section-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.section-list-item {
  background-color: rgb(221, 221, 221);
  margin: 2px 0 2px;
}

.link-button {
  @include neue-haas-display;
  color: #000;
  height: 100%;
  width: 100%;
}

// *********************************** //
// ************ Articles ************* //
// ********************************** //
.article-wrapper {
  padding-top: 35px;

  @include small--600px-and-up {
    padding-top: 41px;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  li {
    cursor: pointer;
    background-color: rgb(250, 240, 225);
    position: relative;
    padding: 20px 15px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.25px rgb(207, 197, 183) solid;
    @include small--600px-and-up {
      margin-bottom: 6px;
      border-radius: 4px;
      flex: 0 1 calc(50% - 6px);
    }
    @include med--960px-and-up {
      flex: 0 1 calc(33% - 3px);
      display: flex;
      flex-direction: column;
      border-radius: 4px 4px 20px 4px;
      padding: 20px;
    }
    @include lg--1280px-and-up {
      flex: 0 1 calc(25% - 6px);
    }
    @include xl--1920px-and-up {
      flex: 0 1 calc(20% - 6px);
    }
  }

  .section-text {
    @include neue-haas-display;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: rgb(134, 126, 115);
    position: absolute;
    top: 5px;
    left: 21px;
  }

  .main-card-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // This is set to bring the onClick into view. 
  .shadow-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // Only have box-shadow rollover on desktop sizes. 
  @include lg--1280px-and-up {
    .shadow-holder::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 4px 4px 20px 4px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      -webkit-transform: translateZ(0);
      transform: translateZ();
      -webkit-transition: opacity .25s ease-in-out;
    }
    li:hover {
      background-color: rgb(255, 246, 232);
      & > .shadow-holder::after {
        opacity: 1;
        z-index: 10;
      }
    }
  }

  .add-reading-alert {
    position: relative;
    z-index: 11;
  }

  .image-headline {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    .article-headline {
      @include neue-haas-bold;
      line-height: 2.125ex;
      font-size: 19px;
      letter-spacing: 0.03em;
      padding-right: 10px;
      color: rgb(75, 75, 75);
      
      @include med--960px-and-up {
        font-size: 18px;
        line-height: 2.4ex;
        border-bottom: 0.25px rgb(207, 197, 183) solid
      }
    }
    img {
      height: 75px;
      width: 75px;
      border-radius: 0 18% 18% 18%;
      margin-right: 10px;
      border: 0.25px rgb(221, 221, 221) solid;
      object-fit: cover;
      @include med--960px-and-up {
        height: 70px;
        width: 70px;
      }
    }
    .nyt-logo {
      height: 60px;
      width: 60px;
      margin-right: 15px;
      margin-top:3px;
      border: 0.25px rgb(221, 221, 221) solid;
      object-fit: cover;
      flex-shrink: 0;
      @include med--960px-and-up {
        height: 55px;
        width: 55px;
      }
    }
  }
  .article-abstract {
    @include neue-haas-display;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 20px;
    padding-right: 10px;

    @include med--960px-and-up {
      font-size: 14px;
      padding-right: 20px;
    }
  }

  .modal-button {
    z-index: 18;
    color: #4b4b4b;
    font-size: large;
    cursor: pointer;
    padding: 6px 6px 1px;
    border-radius: 50%;
    transform-origin: 50% 50%;

    @include med--960px-and-up  {
      transition: transform 120ms cubic-bezier(0.42, 0.7, 0.51, 0.99);
      position: absolute;
      bottom: 1px;
      right: 1px;
      &:hover {
        transform: rotate(45deg) scale(1.08,1.08);
      }
    }
  }
}

// Success page
.welcome-back {
  @include neue-haas-display;
  font-size: 18px;
  text-align: center;
}

.continue-button {
  @include neue-haas-bold;
  font-size: 16px;
  margin: 20px;
  padding: 10px 0;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgb(209, 255, 209);
  }
}

///*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*///
///+*+*+*+*+* Control panel *+*+*+*+*+///
///*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*///

.control-panel {
  min-width: 350px;
  margin: 60px auto 0;
  letter-spacing: 0.05em;
  h4 {
    @include neue-haas-bold;
    text-align: center;
    font-size: 20px;
  }
  p,
  label {
    @include neue-haas-display;
  }
  .p-italic {
    @include neue-haas-display;
  }
  @include med--960px-and-up {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .info-holder {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    @include med--960px-and-up {
      min-width: 400px;
      flex:1;
      margin: 20px 20px 0;
    }
  }

  // <---- Subscription Info ----> //
  .no-subscriptions {
    text-align: center;
    margin-top: 20px;
  }

  .pause-subscription {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    .top-pause-subscriptions,
    p {
      margin: 0 auto;
    }
  }
  .current-subscriptions-title,
  .subscription-direction {
    text-align: center;
  }

  .subscription-direction {
    font-size: 12px;
    @include neue-haas-bold;
    margin-bottom: 20px;
  }

  .subscription-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      display: inline-block;
      margin: 0 auto;
      li {
        white-space: nowrap;
        padding: 2px 0;
      }
    }
  }

  // <---- Account Info ----> //
  .email-block {
    text-align: center;
    margin-top: 15px;
    .current-info {
      @include neue-haas-bold;
    }
  }
}
.current-username {
  padding-top: 15px;
}

///*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*///
///+*+*+*+*+* Re-auth panel *+*+*+*+*+///
///*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*///
.account-change-wrapper {
  @include neue-haas-display;

  text-align: center;
  h4 {
    margin-bottom: 8px;
  }
  .body-holder {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 10px;
      text-align: center;
      padding: 4px 0;
      font-size: 18px;
    }
  }
  .input {
    padding-top: 30px;
  }
}
